script.
    // App.pug
    import TestComponent from "./TestComponent.pug"
    import LearnComponent from "./LearnComponent.pug"
    import NavigationComponent from "./NavigationComponent.pug"
    import HomeComponent from "./HomeComponent.pug"

    import {Util} from "./Util.js"
    import router from "page"

    // routes 
    let page
    let params

    router('/', () => page = HomeComponent)
    router("/learn", () => page = LearnComponent)
    
    router.start()

main
    .container
        NavigationComponent
        .starter-template
            svelte:component(this={page})
            

    footer.footer Made with &#9829; and :)s
style.
    footer.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }